.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .image-holder {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .image-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .product-info {
    margin-top: 10px;
  }
  
  .product-name {
    font-weight: bold;
  }
  
  .product-price {
    color: #888;
  }
  
  .product-description {
    margin-top: 10px;
  }
  
  .add-to-cart-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  